
/* [Input] UI base */
.aix-ui-in{
	width:100%;
	height:auto;
	border-width: 1px;
	border-style: solid;	
	
	-webkit-transition: border-color .2s ease-in-out 0s , box-shadow .2s ease-in-out 0s;
	-moz-transition: border-color .2s ease-in-out 0s , box-shadow .2s ease-in-out 0s;
	-o-transition: border-color .2s ease-in-out 0s , box-shadow .2s ease-in-out 0s;
	transition: border-color .2s ease-in-out 0s , box-shadow .2s ease-in-out 0s;
}
	/* Input UI for ng normal*/
	/* basic */
	.aix-ui-in.ngn{
		min-height:27px;
		min-width:200px;
		padding:2px 1px 1px;
		color:#564b5b;
		border-bottom-color:#564b5b;
		vertical-align: baseline;
	}

	/* success */
	.aix-ui-in.ngn.sucess{
		color: #317742;
		border-bottom-color: #317742;
	}

	/* error(fail) */
	.aix-ui-in.ngn.error{
		color:#990000;
		border-bottom-color:#AB3232;
	}

	/* reuqire */
	.aix-ui-in.ngn.require{
		color:#243652;
		border-bottom-color:#425573;
	}
	

	/* Input UI for ng surround*/
	/* basic */
	.aix-ui-in.ngs{
		color:#564b5b;
		padding: 3px 6px;
	  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
		border-color:#888;
		vertical-align:baseline;

	}
	.aix-ui-in.ngs:focus{
	  border-color: #564B4B;
	  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	}

	/* succuess */
	.aix-ui-in.ngs.sucess{
		color: #317742;
		border-color:#317742;
	}
	.aix-ui-in.ngs.sucess:focus{
	  border-color: #1B662D;
	  box-shadow: 0 0 10px 1px rgba(70, 194, 100, 0.5);
	}

	/* error(fail)*/
	.aix-ui-in.ngs.error{
		border-color: #990000;
		color:#990000;
	}
	.aix-ui-in.ngs.error:focus{
	  border-color: #470B0B;
	  box-shadow: 0 0 10px 1px rgba(171, 45, 45, 0.5);
	}

	/* require */
	.aix-ui-in.ngs.require{
		color:#425573;
		border-color:#425573;
	}
	.aix-ui-in.ngs.require:focus{
	  border-color: #323F54;
	  box-shadow: 0 0 10px 1px rgba(83, 114, 187, 0.5);
	}



	
