/* Aix UI tooltips content */

/* Aix UI tp base*/
/* default Color Scheme */
.aix-ui-tp{
	position: absolute;
	display: inline-block;
	background-color:#181818;
	color:#181818;
	text-align:center;
	padding:2px 7px 3px 7px;
	margin:0;
	box-shadow:2px 2px 1px rgba(0, 0, 0, 0.33);

	-webkit-transition: top .2s ease-in-out 0s , left .2s ease-in-out 0s, bottom .2s ease-in-out 0s, right 2s ease-in-out 0s , opacity .2s ease-in-out 0s;
	-moz-transition: top .2s ease-in-out 0s , left .2s ease-in-out 0s, bottom .2s ease-in-out 0s, right 2s ease-in-out 0s , opacity .2s ease-in-out 0s;
	-o-transition: top .2s ease-in-out 0s , left .2s ease-in-out 0s, bottom .2s ease-in-out 0s, right 2s ease-in-out 0s , opacity .2s ease-in-out 0s;
	transition: top .2s ease-in-out 0s , left .2s ease-in-out 0s, bottom .2s ease-in-out 0s, right 2s ease-in-out 0s , opacity .2s ease-in-out 0s;
	*zoom:1;
}

	.aix-ui-tp:after{
		position:relative;
		display:table;
		content:"";
		line-height: 0;
		clear:both;
	}

	/* tooltips infomation content */
	.aix-ui-tp > .aix-ui-tpi{
		font-weight:bold;
		text-align:center;
		font-size:12px;
	  word-wrap: normal;
		cursor:default;
		color:#f1f1f1;
	  text-rendering: geometricPrecision;
		-webkit-user-select:none;
		-moz-user-select:none;
		-o-user-select:none;
		user-select:none;
	}

	/* tooltips noarraw base*/
	.aix-ui-tp > .aix-ui-tpa{
		position:absolute;
		display:inline-block;
		border-style: solid;
		font-size:0;
		content:"";
		height:0;
	}


	/* Noarrow pointer */	
	/* left && right */
	.aix-ui-tp.l > .aix-ui-tpa,
	.aix-ui-tp.r > .aix-ui-tpa{
	  border-bottom-color: transparent;
	  border-top-color: transparent;
	  margin-top: -6px;
	  top: 50%;
	}
	/* left noarrow */
	.aix-ui-tp.l > .aix-ui-tpa{
	  border-width: 6px 7px 6px 6px;
	  border-left-color: transparent;
	  left: -12px;
	}
	/* right noarrow */
	.aix-ui-tp.r > .aix-ui-tpa{
	  border-width: 6px 6px 6px 7px;
		border-right-color: transparent;	
		right: -12px;
		-webkit-filter:drop-shadow(2px 1px 1px #A1A1A1);
	}

	/* top && bottom */
	.aix-ui-tp.t > .aix-ui-tpa,
	.aix-ui-tp.b > .aix-ui-tpa{
		border-left-color: transparent;
		border-right-color: transparent;
		left:50%;
		margin-left:-6px;
	}
	/* top noarrow */
	.aix-ui-tp.t > .aix-ui-tpa{
		border-width: 6px 6px 7px 6px;
		border-top-color: transparent;
		top:-12px;
	}
	/* bottom noarrow */
	.aix-ui-tp.b > .aix-ui-tpa{
		border-width: 7px 6px 6px 6px;
		border-bottom-color: transparent;
		bottom:-12px;
		-webkit-filter:drop-shadow(1px 2px 1px #A1A1A1);
	}

/* UI ColorScheme */
.aix-ui-tp.sucess{
	background-color:#317742;
	color:#317742;
}

.aix-ui-tp.error{
	background-color:#990000;
	color:#990000;
}

.aix-ui-tp.require{
	background-color:#425573;
	color:#425573;
}

.aix-ui-tp.reverse{
	padding:1px 6px;
	background-color:#fff;
	color:#fff;
	border:1px solid #181818;
}

	.aix-ui-tp.reverse > .aix-ui-tpi{
		color:#181818;
	}
	
	.aix-ui-tp.reverse > .aix-ui-tpa{
		content:none;
	}
	
	.aix-ui-tp.reverse > .aix-ui-tpa:before,
	.aix-ui-tp.reverse > .aix-ui-tpa:after{
		position:absolute;
		content:"";
		display:inline-block;	
		border-style:solid;
		border-color:transparent;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	.aix-ui-tp.reverse.l > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.l > .aix-ui-tpa:after,
	.aix-ui-tp.reverse.r > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.r > .aix-ui-tpa:after{
		top:50%;
		margin-top:-6px;
	}
	.aix-ui-tp.reverse.t > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.t > .aix-ui-tpa:after,
	.aix-ui-tp.reverse.b > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.b > .aix-ui-tpa:after{
		left:50%;
		margin-left:-6px;
	}

	/* reverse for [ left ] arrow */
	.aix-ui-tp.reverse.l > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.l > .aix-ui-tpa:after{
		border-width: 6px 7px 6px 6px;
	}
	.aix-ui-tp.reverse.l > .aix-ui-tpa:before{
		border-right-color:#181818;
		left:-7px;
	}
	.aix-ui-tp.reverse.l > .aix-ui-tpa:after{
		border-right-color:#fff;
		left:-5px;
	}

	/* reverse for [ right ] arrow */
	.aix-ui-tp.reverse.r > .aix-ui-tpa{
		-webkit-filter:drop-shadow(2px 1px 1px #bbb);
	}
	.aix-ui-tp.reverse.r > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.r > .aix-ui-tpa:after{
		border-width: 6px 6px 6px 7px;
	}
	.aix-ui-tp.reverse.r > .aix-ui-tpa:before{
		border-left-color:#181818;
		right:-7px;
	}
	.aix-ui-tp.reverse.r > .aix-ui-tpa:after{
		border-left-color:#fff;
		right:-5px;
	}

	/* reverse for [ bottom ] arrow */	
	.aix-ui-tp.reverse.b > .aix-ui-tpa{
		-webkit-filter:drop-shadow(1px 2px 1px #bbb);
	}
	.aix-ui-tp.reverse.b > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.b > .aix-ui-tpa:after{
		border-width: 7px 6px 6px 6px;
	}
	.aix-ui-tp.reverse.b > .aix-ui-tpa:before{
		border-top-color:#181818;
		bottom:-7px;
	}
	.aix-ui-tp.reverse.b > .aix-ui-tpa:after{
		border-top-color:#fff;
		bottom:-5px;
	}

	/* reverse for [ top ] arrow */	
	.aix-ui-tp.reverse.t > .aix-ui-tpa:before,
	.aix-ui-tp.reverse.t > .aix-ui-tpa:after{
		border-width: 6px 6px 7px 6px;
	}
	.aix-ui-tp.reverse.t > .aix-ui-tpa:before{
		border-bottom-color:#181818;
		top:-7px;
	}
	.aix-ui-tp.reverse.t > .aix-ui-tpa:after{
		border-bottom-color:#fff;
		top:-5px;
	}

/* Aix UI Popover Panel Compose */
/* default */
.aix-ui-po{
	position:absolute;
	display:block;
	font: inherit;
	width: 200px;
	/* for render flex */
	padding:0 2px;
	background-color:#181818;
	border:1px solid transparent;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
	z-index:2;
	*zoom:1;
}
	.aix-ui-po:before,
	.aix-ui-po:after{
		position: absolute;
		display:inline-block;
		border-width:12px;
		border-style:solid;
		border-color:transparent;
		content:"";
		height:0;
		font-size:0;
	}
	.aix-ui-po:after{
		clear:both;
	}

	/* Popover bside arrow */
	.aix-ui-po.t:before,
	.aix-ui-po.t:after,
	.aix-ui-po.b:before,
	.aix-ui-po.b:after{
		left:50%;
		margin-left:-12px;
	}

	.aix-ui-po.l:before,
	.aix-ui-po.l:after,
	.aix-ui-po.r:before,
	.aix-ui-po.r:after{
		top:50%;
		margin-top:-12px;
	}
	/* bottom arraw */
	.aix-ui-po.b:before{
		border-top-color:#181818;
		bottom:-24px;
		-webkit-filter:drop-shadow(2px 2px 1px #989898);
	}

	.aix-ui-po.b:after{
		border-top-color:#181818;
		bottom:-23px;
	}
	/* top */
	.aix-ui-po.t:before{
		border-bottom-color:#181818;
		top:-24px;
	}
	.aix-ui-po.t:after{
		border-bottom-color:#181818;	
		top:-23px;
	}
	/* left */
	.aix-ui-po.l:before{
		border-right-color:#181818;
		left:-24px;
	}

	.aix-ui-po.l:after{
		border-right-color:#181818;
		left:-23px;
	}
	/* right */
	.aix-ui-po.r:before{
		border-left-color:#181818;
		right:-24px;
		-webkit-filter:drop-shadow(2px 2px 1px #989898);
	}

	.aix-ui-po.r:after{
		border-left-color:#181818;
		right:-23px;
	}

	.aix-ui-po > .aix-ui-pot,
	.aix-ui-po > .aix-ui-poc{
		position:relative;
		padding: 7px 15px;
		display:flex;
		max-width:100%;
		font-style:normal;
	}

	/* Popover title */
	.aix-ui-po > .aix-ui-pot{
		color:#fff;
		font-weight:bold;
		text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5)
	}
		/* Popover title style reset */
		.aix-ui-po > .aix-ui-pot h1,
		.aix-ui-po > .aix-ui-pot h2,
		.aix-ui-po > .aix-ui-pot h3,
		.aix-ui-po > .aix-ui-pot h4,
		.aix-ui-po > .aix-ui-pot h5,
		.aix-ui-po > .aix-ui-pot h6{
			margin:0;
		}

	/* Popover content */
	.aix-ui-po > .aix-ui-poc{
		color:#d3d3d3;
	}

/* color scheme */
/* reverse */
.aix-ui-po.reverse{
	background-color:#fff;
	border-color:#181818;
	color:#181818;
}
	.aix-ui-po.reverse:before,
	.aix-ui-po.reverse:after{
		text-align:inherit;
		height:0;
	}
	/* reverse for arrow */
	.aix-ui-po.reverse.b:before{
		border-top-color:#181818;	
	}
	.aix-ui-po.reverse.b:after{
		border-top-color:#fff;
	}
	.aix-ui-po.reverse.t:before{
		border-bottom-color:#181818;	
	}
	.aix-ui-po.reverse.t:after{
		border-bottom-color:#fff;
	}
	.aix-ui-po.reverse.l:before{
		border-right-color:#181818;	
	}
	.aix-ui-po.reverse.l:after{
		border-right-color:#fff;
	}
	.aix-ui-po.reverse.r:before{
		border-left-color:#181818;	
	}
	.aix-ui-po.reverse.r:after{
		border-left-color:#fff;
	}

	/* Reverse scheme title */
	.aix-ui-po.reverse > .aix-ui-pot{
		color:#181818;
		font-weight:bold;
		text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5)
	}

	/* Popover content */
	.aix-ui-po.reverse > .aix-ui-poc{
		color:#282828;
	}


/*Aix UI tooltip common radius */
.aix-ui-po.radius,
.aix-ui-tp.radius{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	clip:auto;
}

